.snackbar {
	z-index: 9999;
    border-radius: 2px;
    animation: show-snackbar 450ms forwards;
    transition: all 500ms ease;
    transition-property: top, right, bottom, left, opacity;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    word-wrap: break-word;
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 1rem;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.snack-text{
    padding: 0px;
    margin: 0px;
}
.action-button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: inherit;
    color: #ff528f;
}
button:focus { outline: 0; }

@keyframes show-snackbar {
	from { bottom: 0%; opacity: 0;}
	to { bottom: 5%; opacity: 1;}
}

@keyframes hide-snackbar {
	from { bottom: 5%; opacity: 1;}
	to { bottom: 0%; opacity: 0; pointer-events: none;}
}
